In [2]:
import pandas as pd

In [26]:
df = pd.read_csv('../Datasets_complementarios/Air_Quality_20240228.csv')
df.sample(10)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
8335,740914,375.0,Nitrogen dioxide (NO2),Mean,ppb,UHF42,201.0,Greenpoint,Winter 2020-21,12/01/2020,24.77,NaN
3846,336873,375.0,Nitrogen dioxide (NO2),Mean,ppb,CD,409.0,Kew Gardens and Woodhaven (CD9),Winter 2014-15,12/01/2014,25.06,NaN
730,549413,386.0,Ozone (O3),Mean,ppb,CD,110.0,Central Harlem (CD10),Summer 2017,06/01/2017,26.65,NaN
5787,151714,644.0,Annual vehicle miles travelled (cars),million miles,per km2,Borough,1.0,Bronx,2005,01/01/2005,23.90,NaN
1558,547405,365.0,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,206.0,Borough Park,Annual Average 2017,01/01/2017,7.27,NaN
8416,167592,375.0,Nitrogen dioxide (NO2),Mean,ppb,CD,301.0,Greenpoint and Williamsburg (CD1),Annual Average 2010,12/01/2009,25.16,NaN
8326,410789,365.0,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,301.0,Washington Heights,Winter 2015-16,12/01/2015,8.50,NaN
8768,547522,365.0,Fine particles (PM 2.5),Mean,mcg/m3,UHF34,206.0,Borough Park,Annual Average 2017,01/01/2017,7.27,NaN
13797,179650,365.0,Fine particles (PM 2.5),Mean,mcg/m3,Borough,3.0,Manhattan,Annual Average 2010,12/01/2009,11.61,NaN
4138,605983,365.0,Fine particles (PM 2.5),Mean,mcg/m3,CD,306.0,Park Slope and Carroll Gardens (CD6),Winter 2017-18,12/01/2017,9.50,NaN

In [23]:
df['Geo Place Name'].count()

14298

In [25]:
df['Geo Type Name'].value_counts()

Geo Type Name
CD          5900
UHF42       4620
UHF34       3128
Borough      540
Citywide     110
Name: count, dtype: int64

In [ ]:
df_NY = df['Geo Place Name'] isin (['East New York','Bronx', 'Manhattan'])

In [16]:
df[df['Geo Place Name'] =='East New York'].count()

Unique ID         202
Indicator ID      202
Name              202
Measure           202
Measure Info      202
Geo Type Name     202
Geo Join ID       202
Geo Place Name    202
Time Period       202
Start_Date        202
Data Value        202
Message             0
dtype: int64

In [21]:
df[df['Geo Place Name'] =='Bronx'].count()

Unique ID         108
Indicator ID      108
Name              108
Measure           108
Measure Info      108
Geo Type Name     108
Geo Join ID       108
Geo Place Name    108
Time Period       108
Start_Date        108
Data Value        108
Message             0
dtype: int64

In [27]:
df[df['Geo Place Name'] =='Manhattan'].count()

Unique ID         108
Indicator ID      108
Name              108
Measure           108
Measure Info      108
Geo Type Name     108
Geo Join ID       108
Geo Place Name    108
Time Period       108
Start_Date        108
Data Value        108
Message             0
dtype: int64

In [10]:
df.shape

(16218, 12)