In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('../Datasets_complementarios/Air_Quality_20240228.csv')
df.head(3)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,172653,375.0,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203.0,Bedford Stuyvesant - Crown Heights,Annual Average 2011,12/01/2010,25.30,NaN
1,172585,375.0,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203.0,Bedford Stuyvesant - Crown Heights,Annual Average 2009,12/01/2008,26.93,NaN
2,336637,375.0,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204.0,East New York,Annual Average 2015,01/01/2015,19.09,NaN

Se eliminan columnas innecesarias

In [60]:
df.drop(columns = ['Unique ID', 'Indicator ID', 'Geo Type Name', 'Geo Join ID', 'Time Period', 'Message'], inplace = True)

Se verifica el tipo de dato de las columnas

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16218 entries, 0 to 16217
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            14298 non-null  object
 1   Measure         14298 non-null  object
 2   Measure Info    14298 non-null  object
 3   Geo Place Name  14298 non-null  object
 4   Start_Date      14298 non-null  object
 5   Data Value      14298 non-null  float64
dtypes: float64(1), object(5)
memory usage: 760.3+ KB

Start_date es de tipo'object', se transforma en tipo 'datetime'

In [ ]:
df['Start_Date'] = pd.to_datetime(df['Start_Date'])

Se arma un dataset solo con las zonas pertenecientes a la ciudad de New York

In [ ]:
df_NY = df[df['Geo Place Name'].isin(['East New York','Bronx', 'Manhattan'])]
df_NY.head()

,Name,Measure,Measure Info,Geo Place Name,Time Period,Data Value
2,Nitrogen dioxide (NO2),Mean,ppb,East New York,Annual Average 2015,19.09
28,Nitrogen dioxide (NO2),Mean,ppb,East New York,Summer 2017,13.39
29,Nitrogen dioxide (NO2),Mean,ppb,East New York,Summer 2018,11.97
64,Nitrogen dioxide (NO2),Mean,ppb,Bronx,Annual Average 2014,19.80
119,Nitrogen dioxide (NO2),Mean,ppb,East New York,Winter 2010-11,30.26

In [ ]:
df_NY.duplicated().value_counts()

False    338
True      80
Name: count, dtype: int64

In [ ]:
df_NY.drop_duplicates(inplace= True)
df_NY

C:\Users\Acer\AppData\Local\Temp\ipykernel_11372\1549240018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NY.drop_duplicates(inplace= True)

,Name,Measure,Measure Info,Geo Place Name,Time Period,Data Value
2,Nitrogen dioxide (NO2),Mean,ppb,East New York,Annual Average 2015,19.09
28,Nitrogen dioxide (NO2),Mean,ppb,East New York,Summer 2017,13.39
29,Nitrogen dioxide (NO2),Mean,ppb,East New York,Summer 2018,11.97
64,Nitrogen dioxide (NO2),Mean,ppb,Bronx,Annual Average 2014,19.80
119,Nitrogen dioxide (NO2),Mean,ppb,East New York,Winter 2010-11,30.26
...,...,...,...,...,...,...
15822,Boiler Emissions- Total SO2 Emissions,Number per km2,number,East New York,2015,0.10
15823,Boiler Emissions- Total SO2 Emissions,Number per km2,number,East New York,2013,0.10
15928,Annual vehicle miles travelled (trucks),million miles,per km2,East New York,2016,0.80
16043,Fine particles (PM 2.5),Mean,mcg/m3,East New York,Winter 2013-14,11.03
16112,Fine particles (PM 2.5),Mean,mcg/m3,East New York,Summer 2014,8.08

In [ ]:
df_NY['Time Period'].value_counts()

Time Period
2005                               11
Summer 2012                        10
Summer 2011                        10
Summer 2010                        10
Summer 2014                        10
Summer 2013                        10
Summer 2009                        10
2015                                9
2016                                9
Summer 2019                         9
Summer 2021                         9
2013                                9
Summer 2017                         9
Summer 2016                         9
Summer 2020                         9
Summer 2015                         9
Summer 2018                         9
Winter 2009-10                      7
Winter 2013-14                      7
Winter 2011-12                      7
Winter 2012-13                      7
Winter 2010-11                      7
Winter 2008-09                      7
Winter 2019-20                      6
Annual Average 2015                 6
2011                                6
2014                                6
Annual Average 2018                 6
Annual Average 2010                 6
Winter 2018-19                      6
Annual Average 2011                 6
Annual Average 2009                 6
Annual Average 2016                 6
Winter 2020-21                      6
Winter 2015-16                      6
Annual Average 2012                 6
Winter 2017-18                      6
Annual Average 2017                 6
Annual Average 2013                 6
Winter 2016-17                      6
Annual Average 2020                 6
Annual Average 2021                 6
Winter 2014-15                      6
Annual Average 2014                 6
Annual Average 2019                 6
2-Year Summer Average 2009-2010     3
Name: count, dtype: int64

In [ ]:
df_NY.info()

<class 'pandas.core.frame.DataFrame'>
Index: 338 entries, 2 to 16112
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            338 non-null    object
 1   Measure         338 non-null    object
 2   Measure Info    338 non-null    object
 3   Geo Place Name  338 non-null    object
 4   Time Period     338 non-null    object
 5   Data Value      338 non-null    float64
dtypes: float64(1), object(5)
memory usage: 18.5+ KB