Este dataset contiene datos de precio para vehiculos hibridos enchufables

In [45]:
import pandas as pd

In [46]:
df = pd.read_excel('../Datasets_complementarios/listado_vehiculos_enchufables.xlsx')
df

,Marca,Modelo,Autonomía eléctrica (km),Potencia (hp),Precio
0,Toyota,Prius Prime,40,121,"$28,775"
1,Hyundai,Sonata Plug-In Hybrid,48,225,"$34,650"
2,Kia,Optima Plug-In Hybrid,48,207,"$35,190"
3,Ford,Fusion Energi,44,195,"$36,120"
4,Honda,Clarity Plug-In Hybrid,77,212,"$36,695"
5,BMW,330e,38,288,"$44,250"
6,Mercedes-Benz,C 350e,31,279,"$46,250"
7,Audi,A3 e-tron,38,204,"$47,900"
8,Volvo,S60 Recharge,40,303,"$56,800"
9,Polestar,1,124,619,"$60,200"

Se normalizan las columnas

In [47]:
df.rename(columns={'Marca':'marca', 'Modelo':'modelo', 'Autonomía eléctrica (km)':'autonomía_electrica_(km)', 
                    'Potencia (hp)':'potencia(hp)','Precio':'precio'}, inplace=True)

Verificamos el tipo de datos

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   marca                     10 non-null     object
 1   modelo                    10 non-null     object
 2   autonomía_electrica_(km)  10 non-null     int64
 3   potencia(hp)              10 non-null     int64
 4   precio                    10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

La columna 'Precio' es tipo object, se transforma a entero

In [51]:
df['precio'] = df['precio'].str.replace('$','')
df['precio'] = df['precio'].str.replace(',','.').astype(float)

df.head()

,marca,modelo,autonomía_electrica_(km),potencia(hp),precio
0,Toyota,Prius Prime,40,121,28.775
1,Hyundai,Sonata Plug-In Hybrid,48,225,34.650
2,Kia,Optima Plug-In Hybrid,48,207,35.190
3,Ford,Fusion Energi,44,195,36.120
4,Honda,Clarity Plug-In Hybrid,77,212,36.695

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   marca                     10 non-null     object
 1   modelo                    10 non-null     object
 2   autonomía_electrica_(km)  10 non-null     int64
 3   potencia(hp)              10 non-null     int64
 4   precio                    10 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 532.0+ bytes

In [53]:
df.shape

(10, 5)

Es una dataset pequeño de 10 filas y 5 columnas

## Graficos